<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" media="all"/>
  </head>
  <body>
    <div id="div_canvas">
      <canvas id="canvas" width="1920" height="1080"></canvas>
    </div>
    <script src="javascripts/champion1.js"></script>
    <script src="javascripts/bomber_glyphe.js"></script>
    <script src="javascripts/controller.js"></script>
  </body>
  </body>
</html>