<!doctype html>
<html id="head" ng-app>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">

	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" media="all"/>
</head>
<body>
	<div id="container">
		<canvas id="canvas" width="1920" height="1000"></canvas>
		<div id="spell">
			 <div class="champion_infos"><span class="pseudo" id="pseudo0">pseudo</span><span class="fps" id="fps0">fps</span><span class="ping" id="ping0">ping</span></div
			><div class="champion_infos"><span class="pseudo" id="pseudo2">pseudo</span><span class="fps" id="fps2">fps</span><span class="ping" id="ping2">ping</span></div
			><div class="champion_infos"><span class="pseudo" id="pseudo4">pseudo</span><span class="fps" id="fps4">fps</span><span class="ping" id="ping4">ping</span></div
			><div class="box_spell"></div
			><div class="box_spell"></div
			><div class="box_spell"></div
			><div class="box_spell"></div
			><div class="champion_infos"><span class="pseudo" id="pseudo1">pseudo</span><span class="fps" id="fps1">fps</span><span class="ping" id="ping1">ping</span></div
			><div class="champion_infos"><span class="pseudo" id="pseudo3">pseudo</span><span class="fps" id="fps3">fps</span><span class="ping" id="ping3">ping</span></div
			><div class="champion_infos"><span class="pseudo" id="pseudo5">pseudo</span><span class="fps" id="fps5">fps</span><span class="ping" id="ping5">ping</span></div>
		</div>
	</div>

	<script src="javascripts/requestAnimationFrame.js"></script>
	<script src="javascripts/explosionBomb.js"></script>
	<script src="javascripts/movementCharacter.js"></script>
	<script src="javascripts/deplacement.js"></script>
	<script src="javascripts/character.js"></script>
	<script src="javascripts/bomber_glyphe.js"></script>
	<script src="javascripts/controller.js"></script>

</body>
</html>